{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="super_container">

	<!-- Home Search -->
	{% include 'search.html' %}

	<!-- Recent -->
{% if properties %}
	<div class="recent">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">Recent Properties</div>
					<div class="section_subtitle">Search your dream home</div>
				</div>
			</div>
			<div class="row recent_row">
				<div class="col">
					<div class="recent_slider_container">
						<div class="owl-carousel owl-theme recent_slider">
						{% for property in properties %}
							<!-- Slide -->
							<div class="owl-item">
								<div class="recent_item">
									<div class="recent_item_inner">
										<div class="recent_item_image">
											<img src="{{ property.photo_main.url }}" alt="" height="353" width="490">
											<div class="tag_featured property_tag"><a href="#">Featured</a></div>
										</div>
										<div class="recent_item_body text-center">
											<div class="recent_item_location">{{ property.city }}</div>
											<div class="recent_item_title"><a href="{% url 'property' property.id %}">{{ property.title }}</a></div>
											<div class="recent_item_price">Rs {{ property.price }}</div>
										</div>
										<div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
											<div><div class="recent_icon"><img src="{% static 'images/icon_1.png' %}" alt=""></div><span>{{ property.area }} Ftsq</span></div>
											<div><div class="recent_icon"><img src="{% static 'images/icon_2.png' %}" alt=""></div><span>{{ property.bedrooms }} Bedrooms</span></div>
											<div><div class="recent_icon"><img src="{% static 'images/icon_3.png' %}" alt=""></div><span>{{ property.bathrooms }} Bathrooms</span></div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</div>

						<div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
							<div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
							<div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
						</div>
					</div>
					<div class="button recent_button"><a href="#">see more</a></div>
				</div>
			</div>
		</div>
	</div>
{% else %}
			<div class="section-title text-center">
					<h3>No Properties Found</h3>
				</div>
{% endif%}




</div>
{% endblock %}