{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="super_container">

	<!-- Home -->

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="intro_title_container">
							<div class="intro_title">
								{% if property.title %}
								{{ property.title }}
								{% else %}
								{{ 'TownHall with sea view' }}
								{% endif %}
							</div>

						</div>
						<div class="intro_price_container ml-lg-auto d-flex flex-column align-items-start justify-content-center">
							<div>For Sale</div>
							<div class="intro_price">
								{% if  property.price %}
								Rs {{ property.price }}
								{% else %}
									{{ 'Rs 129500' }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="intro_slider_container">

			<!-- Intro Slider -->
			<div class="owl-carousel owl-theme intro_slider">
				<!-- Slide -->
				<div class="owl-item"><img src="{% static 'images/intro_1.jpg' %}" alt=""></div>
				<!-- Slide -->
				<div class="owl-item"><img src="{% static 'images/intro_1.jpg' %}" alt=""></div>
				<!-- Slide -->
				<div class="owl-item"><img src="{% static 'images/intro_1.jpg' %}" alt=""></div>
			</div>

			<!-- Intro Slider Nav -->
			<!--<div class="intro_slider_nav_container">-->
				<!--<div class="container">-->
					<!--<div class="row">-->
						<!--<div class="col">-->
							<!--<div class="intro_slider_nav_content d-flex flex-row align-items-start justify-content-end">-->
								<!--<div class="intro_slider_nav intro_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>-->
								<!--<div class="intro_slider_nav intro_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>

	<!-- Property -->

	<div class="property">
		<div class="container">

				<!-- Property Content -->
					<div class="property_content">
						<div class="property_icons">
							<div class="property_title">Extra Facilities</div>
							<div class="property_text property_text_1">
								<p>
									{% if  property.description %}
									{{  property.description }}
									{% else %}
									{{ 'No Description' }}
									{% endif %}
								</p>
							</div>
							<div class="property_rooms d-flex flex-sm-row flex-column align-items-start justify-content-start">

								<!-- Property Room Item -->
								<div class="property_room">
									<div class="property_room_title">Bedrooms</div>
									<div class="property_room_content d-flex flex-row align-items-center justify-content-start">
										<div class="room_icon"><img src="{% static 'images/room_1.png' %}" alt=""></div>
										<div class="room_num">
											{% if  property.bedrooms %}
											{{  property.bedrooms }}
											{% else %}
											{{ 2 }}
											{% endif %}
										</div>
									</div>
								</div>

								<!-- Property Room Item -->
								<div class="property_room">
									<div class="property_room_title">Bathrooms</div>
									<div class="property_room_content d-flex flex-row align-items-center justify-content-start">
										<div class="room_icon"><img src="{% static 'images/room_2.png' %}" alt=""></div>
										<div class="room_num">
											{% if  property.bathrooms %}
											{{  property.bathrooms }}
											{% else %}
											{{ 1 }}
											{% endif %}
										</div>
									</div>
								</div>

								<!-- Property Room Item -->
								<div class="property_room">
									<div class="property_room_title">Area</div>
									<div class="property_room_content d-flex flex-row align-items-center justify-content-start">
										<div class="room_icon"><img src="{% static 'images/room_3.png' %}" alt=""></div>
										<div class="room_num">
											{% if  property.area %}
											{{  property.area }}
											{% else %}
											{{ '1200 SqFt' }}
											{% endif %}
										</div>
									</div>
								</div>

								<!-- Property Room Item -->
								<!--<div class="property_room">-->
									<!--<div class="property_room_title">Patio</div>-->
									<!--<div class="property_room_content d-flex flex-row align-items-center justify-content-start">-->
										<!--<div class="room_icon"><img src="images/room_4.png" alt=""></div>-->
										<!--<div class="room_num">1</div>-->
									<!--</div>-->
								<!--</div>-->

								<!-- Property Room Item -->
								<div class="property_room">
									<div class="property_room_title">Garage</div>
									<div class="property_room_content d-flex flex-row align-items-center justify-content-start">
										<div class="room_icon"><img src="{% static 'images/room_5.png' %}" alt=""></div>
										<div class="room_num">
											{% if  property.garage %}
											{{  property.garage }}
											{% else %}
											{{ 1 }}
											{% endif %}
										</div>
									</div>
								</div>

							</div>
						</div>

						<!-- Description -->

						<div class="property_description">
							<div class="property_title">Description</div>
							<div class="property_text property_text_2">
								<p>
									{% if  property.description %}
											{{  property.description }}
											{% else %}
											{{ 'No Description' }}
											{% endif %}
								</p>
							</div>
						</div>
						<!-- Property On Map -->

						<!--<div class="property_map">-->
							<!--<div class="property_title">Property on map</div>-->
							<!--<div class="property_map_container">-->

								<!--&lt;!&ndash; Google Map &ndash;&gt;-->
								<!--<div id="google_map" class="google_map">-->
									<!--<div class="map_container">-->
										<!--<div id="map"></div>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->
					</div>
		</div>
	</div>



</div>
{% endblock %}