{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	<!-- Properties -->

	<div class="properties">
		<div class="container">
			{% if properties %}
			<div class="row properties_row">
				{% for property in properties %}
				<!-- Property -->
				<div class="col-xl-4 col-lg-6 property_col">
					<div class="property">
						<div class="property_image">
							<img src="{{ property.photo_main.url }}" alt="" height="353" width="490">
							<div class="tag_featured property_tag"><a href="#">Featured</a></div>
						</div>
						<div class="property_body text-center">
							<div class="property_location">{{ property.city }}</div>
							<div class="property_state">{{ property.property_state }}</div>
							<div class="property_title"><a href="property.html">{{ property.title }}</a></div>
							<div class="property_price">Rs {{ property.price }}</div>
						</div>
						<div class="property_footer d-flex flex-row align-items-center justify-content-start">
							<div><div class="property_icon"><img src="{% static 'images/icon_1.png' %}" alt=""></div><span>{{ property.area }} Sq.Ft </span></div>
							<div><div class="property_icon"><img src="{% static 'images/icon_2.png' %}" alt=""></div><span>{{ property.bedrooms }} Bedrooms</span></div>
							<div><div class="property_icon"><img src="{% static 'images/icon_3.png' %}" alt=""></div><span>{{ property.bathrooms }} Bathrooms</span></div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
			{% else %}
			<div class="section-title text-center">
					<h3>No Properties Found</h3>
				</div>
			{% endif%}
			<div class="row">
                <div class="col-md-12">
                    {% if pages.has_other_pages %}
                        <ul class="pagination">
                            {% if pages.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ pages.previous_page_number }}" class="page-link">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;</a>
                                </li>
                            {% endif %}
                            {% for pageIndex in pages.paginator.page_range %}
                                {% if pages.number == pageIndex %}
                                    <li class="page-item active">
                                        <a class="page_link">{{ pageIndex }}</a>
                                    </li>
                                {% else %}
                                    <li class="class-item">
                                        <a href="?page={{ pageIndex }}" class="page-link">{{ pageIndex }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if pages.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ pages.next_page_number }}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
        </div>
		</div>
	</div>

</div>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/properties.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/properties_responsive.css' %}">