{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	<!-- Properties -->

	<div class="properties">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">{{ number_of_properties }} Properties found</div>
					<div class="section_subtitle">Search your dream home</div>
				</div>
			</div>
			<div class="row properties_row">
				{% for property in properties %}
				<!-- Property -->
				<div class="col-xl-4 col-lg-6 property_col">
					<div class="property">
						<div class="property_image">
							<img src="{{ property.photo_main.url }}" alt="" height="353" width="490">
							<div class="tag_featured property_tag"><a href="#">Featured</a></div>
						</div>
						<div class="property_body text-center">
							<div class="property_location">{{ property.city }}</div>
							<div class="property_state">{{ property.property_state }}</div>
							<div class="property_title"><a href="property.html">{{ property.title }}</a></div>
							<div class="property_price">Rs {{ property.price }}</div>
						</div>
						<div class="property_footer d-flex flex-row align-items-center justify-content-start">
							<div><div class="property_icon"><img src="{% static 'images/icon_1.png' %}" alt=""></div><span>{{ property.area }} Sq.Ft </span></div>
							<div><div class="property_icon"><img src="{% static 'images/icon_2.png' %}" alt=""></div><span>{{ property.bedrooms }} Bedrooms</span></div>
							<div><div class="property_icon"><img src="{% static 'images/icon_3.png' %}" alt=""></div><span>{{ property.bathrooms }} Bathrooms</span></div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
			<div class="row">
				<div class="col">
					<div class="pagination">
						<ul>
							<li class="active"><a href="#">01.</a></li>
							<li><a href="#">02.</a></li>
							<li><a href="#">03.</a></li>
							<li><a href="#">04.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/properties.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/properties_responsive.css' %}">