{% load static %}
{% block content %}
<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/properties.jpg' %}" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content d-flex flex-row align-items-end justify-content-start">
							<div class="home_title">Search results</div>
							<div class="breadcrumbs ml-auto">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li>Search Results</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Home Search -->
	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_content">
							<form action="{% url 'search' %}" class="search_form d-flex flex-row align-items-start justfy-content-start">
								<div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">
									<div>
                					<label class="sr-only">Keywords</label>
									<input type="text" name="keywords" class="form-control" placeholder="Keywords (Title, City, State)" value="{{ keywords }}">
									</div>
									<div>
										<label class="sr-only">City</label>
										<input type="text" name="city" class="form-control" placeholder="City" value="{{ city }}">
									</div>
									<div>
										<select class="search_form_select">
											<option disabled selected>State(All)</option>
											{% for key,value in state_choices.items %}
                      						<option value="{{ key }}"
                      							{% if key == values.state %}
                        							selected
                      							{% endif %}
                      							>{{ value }}
											</option>
											{% endfor %}
										</select>
									</div>
									<div>
										<select class="search_form_select">
											<option selected="true" disabled="disabled">Max Price (All)</option>
										  	{% for key,value in price_choices.items %}
											<option value="{{ key }}"
												{% if key == values.price %}
													selected
												{% endif %}
											  	>{{ value }}
											</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<button class="search_form_button ml-auto">search</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% include 'view_results.html' %}
{% endblock %}
